.prev{
  position: absolute;
  top: 40%;
  left: 0%;
  padding: 0px;
  cursor: pointer;
  z-index: 10;

}

.next{
  position: absolute;
  top: 40%;
  right: 4px;
  padding: 0px;
  cursor: pointer;
  z-index: 10;
  
}